@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container body-content">

    <p>Реализовать веб-приложение для хранения пользовательских заметок.</p>
    <p>Требуемый функционал:</p>
    <ul>
        <li>Авторизация пользователя</li>
        <li>Регистрация пользователя</li>
        <li>Просмотр списка заметок</li>
        <li>Просмотр заметки</li>
        <li>Добавление заметки</li>
        <li>Удаление заметки</li>
        <li>Поиск по заметкам</li>
    </ul>
    <p>Для каждой новой заметки необходимо сгенерировать identicon с помощью https://avatars.dicebear.com посредством http-api сервиса. Полученную картинку сохранить в БД и выводить при просмотре списка заметок и конкретной заметки.</p>
    <p>Приложение должно быть реализовано с использованием ASP.NET Core 2.0. Для авторизации использовать Identiy, для доступа к данным Entity Framework Core. Клиентская часть должна быть реализована с использованием Razor.</p>
</div>
