@page
@model NotesApp.Pages.Notes.JustNoteModel
@{
    ViewData["Title"] = "JustNote";
}

<h2>JustNote</h2>
<div asp-validation-summary="All"></div>
<form method="GET">
    <div>
        <label>image</label><br />
        <p><img src="@Model.Note.ImgSrc" width="80" height="80" /></p>
    </div>
    <div>
        <label>title</label><br />
        <p>@Model.Note.Title</p>
    </div>
    <div>
        <label>body</label><br />
        <p>@Model.Note.Body</p>
    </div>
</form>
